/* Set the size of the div element that contains the map */
#map {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.white-text-color {
	color: #fff;
}

.contact-content-container {
	display: flex;
	flex-direction: row;
	margin: 3rem 8rem;
}

.contact-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem 3rem;
	width: 50%;
	background-color: #3b3b3b;
}

.contact-map-container {
	width: 50%;
}

.contact-margin-top {
	margin-top: 1rem;
}

.icon-text-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.margin-left {
	margin-left: 0.75rem;
}

.inline-block {
	display: inline-block;
}
/* .contact-soc-media-logo {
	width: 20px;
	height: 20px;
} */

/* .contact-soc-media-spacing {
	margin: 0;
	padding: 0;
	padding-right: 1rem;
} */
